<template>
  <div v-if="show">
    <el-form label-position="top">
      <el-form-item label="標題" v-if="data.type != 'grid'">
        <el-input v-model="data.name"></el-input>
      </el-form-item>
      <el-form-item
        label="寬度"
        v-if="Object.keys(data.options).indexOf('width') >= 0"
      >
        <el-input v-model="data.options.width"></el-input>
      </el-form-item>

      <el-form-item
        label="說明文字"
        v-if="data.type == 'upload' || data.type == 'fileupload'"
      >
        <el-input v-model="data.options.tip"></el-input>
      </el-form-item>

      <el-form-item
        label="高度"
        v-if="Object.keys(data.options).indexOf('height') >= 0"
      >
        <el-input v-model="data.options.height"></el-input>
      </el-form-item>

      <el-form-item
        label="大小"
        v-if="Object.keys(data.options).indexOf('size') >= 0"
      >
        寬度：<el-input
          style="width: 90px;"
          type="number"
          v-model.number="data.options.size.width"
        ></el-input>
        高度：<el-input
          style="width: 90px;"
          type="number"
          v-model.number="data.options.size.height"
        ></el-input>
      </el-form-item>

      <el-form-item
        label="文字位置"
        v-if="
          Object.keys(data.options).indexOf('contentPosition') >= 0 &&
            data.type === 'divider'
        "
      >
        <el-radio-group v-model="data.options.contentPosition" size="medium">
          <el-radio-button label="left">靠左</el-radio-button>
          <el-radio-button label="center">置中</el-radio-button>
          <el-radio-button label="right">靠右</el-radio-button>
        </el-radio-group>
      </el-form-item>

      <el-form-item
        label="佔位內容"
        v-if="
          Object.keys(data.options).indexOf('placeholder') >= 0 &&
            (data.type != 'time' || data.type != 'date')
        "
      >
        <el-input v-model="data.options.placeholder"></el-input>
      </el-form-item>
      <el-form-item
        label="佈局方式"
        v-if="Object.keys(data.options).indexOf('inline') >= 0"
      >
        <el-radio-group v-model="data.options.inline">
          <el-radio-button :label="false">塊級</el-radio-button>
          <el-radio-button :label="true">行內</el-radio-button>
        </el-radio-group>
      </el-form-item>
      <el-form-item
        label="顯示輸入框"
        v-if="Object.keys(data.options).indexOf('showInput') >= 0"
      >
        <el-switch v-model="data.options.showInput"></el-switch>
      </el-form-item>
      <el-form-item
        label="最小值"
        v-if="Object.keys(data.options).indexOf('min') >= 0"
      >
        <el-input-number
          v-model="data.options.min"
          :min="0"
          :max="100"
          :step="1"
        ></el-input-number>
      </el-form-item>
      <el-form-item
        label="最大值"
        v-if="Object.keys(data.options).indexOf('max') >= 0"
      >
        <el-input-number
          v-model="data.options.max"
          :min="0"
          :max="100"
          :step="1"
        ></el-input-number>
      </el-form-item>
      <el-form-item
        label="步長"
        v-if="Object.keys(data.options).indexOf('step') >= 0"
      >
        <el-input-number
          v-model="data.options.step"
          :min="0"
          :max="100"
          :step="1"
        ></el-input-number>
      </el-form-item>
      <el-form-item
        label="是否多選"
        v-if="data.type == 'select' || data.type == 'imgupload'"
      >
        <el-switch
          v-model="data.options.multiple"
          @change="handleSelectMuliple"
        ></el-switch>
      </el-form-item>
      <el-form-item label="是否可搜尋" v-if="data.type == 'select'">
        <el-switch v-model="data.options.filterable"></el-switch>
      </el-form-item>
      <el-form-item
        label="允許半選"
        v-if="Object.keys(data.options).indexOf('allowHalf') >= 0"
      >
        <el-switch v-model="data.options.allowHalf"> </el-switch>
      </el-form-item>
      <el-form-item
        label="支援透明度選擇"
        v-if="Object.keys(data.options).indexOf('showAlpha') >= 0"
      >
        <el-switch v-model="data.options.showAlpha"> </el-switch>
      </el-form-item>
      <el-form-item
        label="是否顯示標籤"
        v-if="Object.keys(data.options).indexOf('showLabel') >= 0"
      >
        <el-switch v-model="data.options.showLabel"> </el-switch>
      </el-form-item>
      <el-form-item
        label="選項"
        v-if="Object.keys(data.options).indexOf('options') >= 0"
      >
        <el-radio-group
          v-model="data.options.remote"
          size="mini"
          style="margin-bottom:10px;"
        >
          <el-radio-button :label="false">靜態資料</el-radio-button>
          <el-radio-button :label="true">遠端資料</el-radio-button>
        </el-radio-group>
        <template v-if="data.options.remote">
          <div>
            <el-input size="mini" style="" v-model="data.options.remoteFunc">
              <template slot="prepend">遠端方法</template>
            </el-input>
            <el-input size="mini" style="" v-model="data.options.props.value">
              <template slot="prepend">值</template>
            </el-input>
            <el-input size="mini" style="" v-model="data.options.props.label">
              <template slot="prepend">標籤</template>
            </el-input>
          </div>
        </template>
        <template v-else>
          <template
            v-if="
              data.type == 'radio' ||
                (data.type == 'select' && !data.options.multiple)
            "
          >
            <el-radio-group v-model="data.options.defaultValue">
              <draggable
                tag="ul"
                :list="data.options.options"
                v-bind="{
                  group: { name: 'options' },
                  ghostClass: 'ghost',
                  handle: '.drag-item'
                }"
                handle=".drag-item"
              >
                <li v-for="(item, index) in data.options.options" :key="index">
                  <el-radio :label="item.value" style="margin-right: 5px;">
                    <el-input
                      :style="{
                        width: data.options.showLabel ? '90px' : '180px'
                      }"
                      size="mini"
                      v-model="item.value"
                    ></el-input>
                    <el-input
                      style="width:90px;"
                      size="mini"
                      v-if="data.options.showLabel"
                      v-model="item.label"
                    ></el-input>
                    <!-- <input v-model="item.value"/> -->
                  </el-radio>
                  <i
                    class="drag-item"
                    style="font-size: 16px;margin: 0 5px;cursor: move;"
                    ><i class="fas fa-bars"></i
                  ></i>
                  <el-button
                    @click="handleOptionsRemove(index)"
                    circle
                    plain
                    type="danger"
                    size="mini"
                    icon="el-icon-minus"
                    style="padding: 4px;margin-left: 5px;"
                  ></el-button>
                </li>
              </draggable>
            </el-radio-group>
          </template>

          <template
            v-if="
              data.type == 'checkbox' ||
                (data.type == 'select' && data.options.multiple)
            "
          >
            <el-checkbox-group v-model="data.options.defaultValue">
              <draggable
                tag="ul"
                :list="data.options.options"
                v-bind="{
                  group: { name: 'options' },
                  ghostClass: 'ghost',
                  handle: '.drag-item'
                }"
                handle=".drag-item"
              >
                <li v-for="(item, index) in data.options.options" :key="index">
                  <el-checkbox :label="item.value" style="margin-right: 5px;">
                    <el-input
                      :style="{
                        width: data.options.showLabel ? '90px' : '180px'
                      }"
                      size="mini"
                      v-model="item.value"
                    ></el-input>
                    <el-input
                      style="width:90px;"
                      size="mini"
                      v-if="data.options.showLabel"
                      v-model="item.label"
                    ></el-input>
                  </el-checkbox>
                  <i
                    class="drag-item"
                    style="font-size: 16px;margin: 0 5px;cursor: move;"
                    ><i class="fas fa-bars"></i
                  ></i>
                  <el-button
                    @click="handleOptionsRemove(index)"
                    circle
                    plain
                    type="danger"
                    size="mini"
                    icon="el-icon-minus"
                    style="padding: 4px;margin-left: 5px;"
                  ></el-button>
                </li>
              </draggable>
            </el-checkbox-group>
          </template>
          <div style="margin-left: 22px;">
            <el-button type="text" @click="handleAddOption">新增選項</el-button>
          </div>
        </template>
      </el-form-item>

      <el-form-item label="遠端資料" v-if="data.type == 'cascader'">
        <div>
          <el-input size="mini" style="" v-model="data.options.remoteFunc">
            <template slot="prepend">遠端方法</template>
          </el-input>
          <el-input size="mini" style="" v-model="data.options.props.value">
            <template slot="prepend">值</template>
          </el-input>
          <el-input size="mini" style="" v-model="data.options.props.label">
            <template slot="prepend">標籤</template>
          </el-input>
          <el-input size="mini" style="" v-model="data.options.props.children">
            <template slot="prepend">子選項</template>
          </el-input>
        </div>
      </el-form-item>

      <el-form-item
        label="預設值"
        v-if="
          Object.keys(data.options).indexOf('defaultValue') >= 0 &&
            (data.type == 'textarea' ||
              data.type == 'input' ||
              data.type == 'text' ||
              data.type == 'rate' ||
              data.type == 'color' ||
              data.type == 'switch')
        "
      >
        <el-input
          v-if="data.type == 'textarea'"
          type="textarea"
          :rows="5"
          v-model="data.options.defaultValue"
        ></el-input>
        <el-input
          v-if="data.type == 'input' || data.type == 'text'"
          v-model="data.options.defaultValue"
        ></el-input>
        <el-rate
          v-if="data.type == 'rate'"
          style="display:inline-block;vertical-align: middle;"
          :max="data.options.max"
          :allow-half="data.options.allowHalf"
          v-model="data.options.defaultValue"
        ></el-rate>
        <el-button
          type="text"
          v-if="data.type == 'rate'"
          style="display:inline-block;vertical-align: middle;margin-left: 10px;"
          @click="data.options.defaultValue = 0"
          >清空</el-button
        >
        <el-color-picker
          v-if="data.type == 'color'"
          v-model="data.options.defaultValue"
          :show-alpha="data.options.showAlpha"
        ></el-color-picker>
        <el-switch
          v-if="data.type == 'switch'"
          v-model="data.options.defaultValue"
        ></el-switch>
      </el-form-item>

      <template v-if="data.type == 'time' || data.type == 'date'">
        <el-form-item label="顯示類型" v-if="data.type == 'date'">
          <el-select v-model="data.options.type">
            <el-option value="year"></el-option>
            <el-option value="month"></el-option>
            <el-option value="date"></el-option>
            <el-option value="dates"></el-option>
            <!-- <el-option value="week"></el-option> -->
            <el-option value="datetime"></el-option>
            <el-option value="datetimerange"></el-option>
            <el-option value="daterange"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="是否為範圍選擇" v-if="data.type == 'time'">
          <el-switch v-model="data.options.isRange"> </el-switch>
        </el-form-item>
        <el-form-item label="是否獲取時間戳" v-if="data.type == 'date'">
          <el-switch v-model="data.options.timestamp"> </el-switch>
        </el-form-item>
        <el-form-item
          label="佔位內容"
          v-if="
            (!data.options.isRange && data.type == 'time') ||
              (data.type != 'time' &&
                data.options.type != 'datetimerange' &&
                data.options.type != 'daterange')
          "
        >
          <el-input v-model="data.options.placeholder"></el-input>
        </el-form-item>
        <el-form-item
          label="開始時間佔位內容"
          v-if="
            data.options.isRange ||
              data.options.type == 'datetimerange' ||
              data.options.type == 'daterange'
          "
        >
          <el-input v-model="data.options.startPlaceholder"></el-input>
        </el-form-item>
        <el-form-item
          label="結束時間佔位內容"
          v-if="
            data.options.isRange ||
              data.options.type == 'datetimerange' ||
              data.options.type == 'daterange'
          "
        >
          <el-input v-model="data.options.endPlaceholder"></el-input>
        </el-form-item>
        <el-form-item label="格式">
          <el-input v-model="data.options.format"></el-input>
        </el-form-item>
        <el-form-item
          label="預設"
          v-if="
            data.type == 'time' &&
              Object.keys(data.options).indexOf('isRange') >= 0
          "
        >
          <el-time-picker
            key="1"
            style="width: 100%;"
            v-if="!data.options.isRange"
            v-model="data.options.defaultValue"
            :arrowControl="data.options.arrowControl"
            :value-format="data.options.format"
          >
          </el-time-picker>
          <el-time-picker
            key="2"
            v-if="data.options.isRange"
            style="width: 100%;"
            v-model="data.options.defaultValue"
            is-range
            :arrowControl="data.options.arrowControl"
            :value-format="data.options.format"
          >
          </el-time-picker>
        </el-form-item>
      </template>

      <template v-if="data.type == 'imgupload' || data.type == 'fileupload'">
        <el-form-item label="最大上傳數">
          <el-input
            type="number"
            v-model.number="data.options.length"
          ></el-input>
        </el-form-item>
        <template>
          <el-form-item label="上傳地址" :required="true">
            <el-input v-model="data.options.action"></el-input>
          </el-form-item>
        </template>
      </template>

      <template v-if="data.type == 'blank'">
        <el-form-item label="綁定資料類型">
          <el-select v-model="data.options.defaultType">
            <el-option value="String" label="字串"></el-option>
            <el-option value="Object" label="對象"></el-option>
            <el-option value="Array" label="數組"></el-option>
          </el-select>
        </el-form-item>
      </template>

      <template v-if="data.type == 'grid'">
        <el-form-item label="柵格間隔">
          <el-input
            type="number"
            v-model.number="data.options.gutter"
          ></el-input>
        </el-form-item>
        <el-form-item label="列配置項">
          <draggable
            tag="ul"
            :list="data.columns"
            v-bind="{
              group: { name: 'options' },
              ghostClass: 'ghost',
              handle: '.drag-item'
            }"
            handle=".drag-item"
          >
            <li v-for="(item, index) in data.columns" :key="index">
              <i
                class="drag-item"
                style="font-size: 16px;margin: 0 5px;cursor: move;"
                ><i class="fas fa-bars"></i
              ></i>
              <el-input
                placeholder="柵格值"
                size="mini"
                style="width: 100px;"
                type="number"
                v-model.number="item.span"
              ></el-input>

              <el-button
                @click="handleOptionsRemove(index)"
                circle
                plain
                type="danger"
                size="mini"
                icon="el-icon-minus"
                style="padding: 4px;margin-left: 5px;"
              ></el-button>
            </li>
          </draggable>
          <div style="margin-left: 22px;">
            <el-button type="text" @click="handleAddColumn">新增列</el-button>
          </div>
        </el-form-item>
        <el-form-item label="水平排列方式">
          <el-select v-model="data.options.justify">
            <el-option value="start" label="左對齊"></el-option>
            <el-option value="end" label="右對齊"></el-option>
            <el-option value="center" label="居中"></el-option>
            <el-option value="space-around" label="兩側間隔相等"></el-option>
            <el-option value="space-between" label="兩端對齊"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="垂直排列方式">
          <el-select v-model="data.options.align">
            <el-option value="top" label="頂部對齊"></el-option>
            <el-option value="middle" label="居中"></el-option>
            <el-option value="bottom" label="底部對齊"></el-option>
          </el-select>
        </el-form-item>
      </template>

      <template v-if="data.type != 'grid'">
        <el-form-item label="資料 Key 值">
          <el-input v-model="data.model"></el-input>
          <el-button
            type="primary"
            id="copyBtn"
            data-clipboard-action="copy"
            :data-clipboard-text="'${' + data.model + '}'"
            plain
          >
            複製 key 值
          </el-button>
        </el-form-item>

        <el-form-item label="操作屬性">
          <el-checkbox
            v-model="data.options.readonly"
            v-if="Object.keys(data.options).indexOf('readonly') >= 0"
            >只讀</el-checkbox
          >
          <el-checkbox
            v-model="data.options.disabled"
            v-if="Object.keys(data.options).indexOf('disabled') >= 0"
            >停用
          </el-checkbox>
          <el-checkbox
            v-model="data.options.editable"
            v-if="Object.keys(data.options).indexOf('editable') >= 0"
            >文本框可輸入</el-checkbox
          >
          <el-checkbox
            v-model="data.options.clearable"
            v-if="Object.keys(data.options).indexOf('clearable') >= 0"
            >顯示清除按鈕</el-checkbox
          >
          <el-checkbox
            v-model="data.options.arrowControl"
            v-if="Object.keys(data.options).indexOf('arrowControl') >= 0"
            >使用箭頭進行時間選擇</el-checkbox
          >
          <el-checkbox
            v-model="data.options.isDelete"
            v-if="Object.keys(data.options).indexOf('isDelete') >= 0"
            >刪除</el-checkbox
          >
          <el-checkbox
            v-model="data.options.isEdit"
            v-if="Object.keys(data.options).indexOf('isEdit') >= 0"
            >編輯</el-checkbox
          >
        </el-form-item>
        <!-- TODO: 仿照 crosstable 修正不同組件編輯到同一個欄位的問題 -->
        <el-form-item label="表格配置" v-if="data.type == 'vtable'">
          <draggable
            tag="ul"
            v-model="data.options.defaultValue"
            handle=".drag-item"
          >
            <li
              v-for="(row, outerIndex) in data.options.defaultValue"
              :key="data.model + outerIndex"
            >
              <i
                class="drag-item"
                style="font-size: 16px;margin: 0 5px;cursor: move;"
                ><i class="fas fa-bars"></i
              ></i>
              第 {{ outerIndex + 1 }} 欄
              <el-tooltip
                class="item"
                effect="light"
                content="刪除欄"
                placement="top"
              >
                <el-button
                  @click="handleVTableRowRemove(outerIndex)"
                  type="text"
                  size="medium"
                  icon="el-icon-minus"
                  style="padding: 4px;margin-left: 5px; color: red; font-weight:900;"
                ></el-button>
              </el-tooltip>
              <el-tooltip
                class="item"
                effect="light"
                content="新增列"
                placement="right"
              >
                <el-button
                  type="text"
                  size="medium"
                  icon="el-icon-plus"
                  style="padding: 4px;margin-left: 5px; color: green; font-weight:900;"
                  @click="
                    handleAddVTableCol(outerIndex, row.children.length + 1)
                  "
                ></el-button>
              </el-tooltip>
              <draggable
                tag="ul"
                v-model="row.children"
                handle=".drag-item"
                style="list-style-type:none; margin-left: 2em;"
              >
                <li
                  v-for="(item, innerIndex) in row.children"
                  :key="data.model + innerIndex"
                >
                  <i
                    class="drag-item"
                    style="font-size: 16px;margin: 0 5px;cursor: move;"
                    ><i class="fas fa-grip-lines"></i
                  ></i>
                  <input type="text" v-model="item.key" />
                  <el-tooltip
                    class="item"
                    effect="light"
                    content="刪除列"
                    placement="right"
                  >
                    <el-button
                      type="text"
                      icon="el-icon-minus"
                      style="padding: 4px;margin-left: 5px; color: red; font-weight:900;"
                      @click="handleRemoveVTableCol(outerIndex, innerIndex)"
                    ></el-button>
                  </el-tooltip>
                </li>
              </draggable>
            </li>
          </draggable>
          <div style="margin-left: 22px;">
            <el-button
              type="text"
              @click="handleAddVTableRow(data.options.defaultValue.length)"
              >新增欄</el-button
            >
          </div>
        </el-form-item>

        <el-form-item label="表格配置" v-if="data.type == 'crosstable'">
          <span>水平項目</span>
          <draggable
            tag="ul"
            v-model="tempValue"
            handle=".drag-item"
            @start="crossTableMovedCol"
            @end="crossTableMovedCol"
          >
            <li v-for="(row, outerIndex) in tempValue" :key="outerIndex">
              <i
                class="drag-item"
                style="font-size: 16px;margin: 0 5px;cursor: move;"
                ><i class="fas fa-grip-lines"></i
              ></i>
              <input
                type="text"
                v-model="row.title"
                @input="crossTableInputUpdateCol"
              />
              <el-tooltip
                class="item"
                effect="light"
                content="刪除欄"
                placement="top"
              >
                <el-button
                  @click="handleRemoveCrossTableCol(outerIndex)"
                  type="text"
                  size="medium"
                  icon="el-icon-minus"
                  style="padding: 4px;margin-left: 5px; color: red; font-weight:900;"
                ></el-button>
              </el-tooltip>
            </li>
          </draggable>
          <div style="margin-left: 22px;">
            <el-button
              type="text"
              @click="handleAddCrossTableCol(tempValue.length + 1)"
              >新增項目</el-button
            >
          </div>
          <span>垂直測項</span>
          <draggable
            tag="ul"
            v-model="tempValue[0].children"
            handle=".drag-item"
            @end="crossTableMovedRol"
          >
            <li
              v-for="(row, outerIndex) in tempValue[0].children"
              :key="outerIndex"
            >
              <i
                class="drag-item"
                style="font-size: 16px;margin: 0 5px;cursor: move;"
                ><i class="fas fa-grip-lines"></i
              ></i>
              <!-- {{row}} -->
              <input
                type="text"
                v-model="row.name"
                @input="crossTableInputUpdateRow(outerIndex)"
              />
              <el-tooltip
                class="item"
                effect="light"
                content="刪除欄"
                placement="top"
              >
                <el-button
                  @click="handleRemoveCrossTableRow(outerIndex)"
                  type="text"
                  size="medium"
                  icon="el-icon-minus"
                  style="padding: 4px;margin-left: 5px; color: red; font-weight:900;"
                ></el-button>
              </el-tooltip>
            </li>
          </draggable>
          <div style="margin-left: 22px;">
            <el-button
              type="text"
              @click="handleAddCrossTableRow(tempValue[0].children.length + 1)"
              >新增項目</el-button
            >
          </div>
        </el-form-item>

        <el-form-item
          label="校驗"
          v-if="Object.keys(data.options).indexOf('required') >= 0"
        >
          <el-checkbox v-model="data.options.required">必填</el-checkbox>
          <el-select
            v-if="Object.keys(data.options).indexOf('dataType') >= 0"
            v-model="data.options.dataType"
            size="mini"
          >
            <el-option value="string" label="字串"></el-option>
            <el-option value="number" label="數字"></el-option>
            <el-option value="boolean" label="布林值"></el-option>
            <el-option value="integer" label="整數"></el-option>
            <el-option value="float" label="浮點數"></el-option>
            <el-option value="url" label="URL"></el-option>
            <el-option value="email" label="電子郵件"></el-option>
            <el-option value="hex" label="十六進位"></el-option>
          </el-select>

          <div v-if="Object.keys(data.options).indexOf('pattern') >= 0">
            <el-input
              size="mini"
              v-model.lazy="data.options.pattern"
              style=" width: 240px;"
              placeholder="填寫正則表達式"
            ></el-input>
          </div>
        </el-form-item>
      </template>
    </el-form>
  </div>
</template>

<script>
import Draggable from "vuedraggable";
import Clipboard from "clipboard";

export default {
  components: {
    Draggable
    // Clipboard
  },
  props: ["data"],
  data() {
    return {
      tempValue: null,
      num: null,
      copyBtn: null,
      validator: {
        type: null,
        required: null,
        pattern: null,
        range: null,
        length: null
      }
    };
  },
  computed: {
    show() {
      if (this.data && Object.keys(this.data).length > 0) {
        return true;
      }
      return false;
    }
  },
  mounted() {
    this.initClipboard();
  },
  created() {
    console.log(this.data);
  },

  methods: {
    handleOptionsRemove(index) {
      if (this.data.type === "grid") {
        this.data.columns.splice(index, 1);
      } else {
        this.data.options.options.splice(index, 1);
      }
    },
    handleAddOption() {
      if (this.data.options.showLabel) {
        this.data.options.options.push({
          value: "新選項",
          label: "新選項"
        });
      } else {
        this.data.options.options.push({
          value: "新選項"
        });
      }
    },
    handleAddColumn() {
      this.data.columns.push({
        span: "",
        list: []
      });
    },
    handleAddVTableRow(index) {
      console.log(index);
      this.data.options.defaultValue.push({
        id: index,
        key: "row" + (index + 1),
        children: [
          {
            isEdit: true,
            type: "input",
            key: "欄位名稱",
            value: ""
          }
        ]
      });
    },
    handleVTableRowRemove(outerindex) {
      this.data.options.defaultValue.splice(outerindex, 1);
    },
    handleAddVTableCol(outerIndex, innerIndex) {
      console.log(
        'outerIndex"' + outerIndex + "," + "innerIndex:" + innerIndex
      );
      this.data.options.defaultValue[outerIndex].children.push({
        isEdit: true,
        type: "input",
        key: "列" + innerIndex,
        value: ""
      });
    },
    handleRemoveVTableCol(outerIndex, innerIndex) {
      this.data.options.defaultValue[outerIndex].children.splice(innerIndex, 1);
    },
    handleAddCrossTableCol(innerIndex) {
      this.tempValue.push({
        id: innerIndex,
        title: innerIndex + "機",
        children: this.tempValue[0].children
      });
      this.data.options.defaultValue = JSON.parse(
        JSON.stringify(this.tempValue)
      );
    },
    handleRemoveCrossTableCol(outerIndex) {
      this.tempValue.splice(outerIndex, 1);
      this.data.options.defaultValue = JSON.parse(
        JSON.stringify(this.tempValue)
      );
    },
    handleAddCrossTableRow(outerIndex) {
      const num = this.tempValue.length;
      const children = this.tempValue[0].children;
      this.tempValue[0].children.push({
        name: "測項",
        value: "",
        isEdit: true,
        type: "input"
      });
      for (let i = 0; i < num; i++) {
        this.tempValue[i].children = children;
        console.group();
        console.log(i);
        console.log(this.tempValue[i].children);
        console.groupEnd();
      }

      this.data.options.defaultValue = JSON.parse(
        JSON.stringify(this.tempValue)
      );
    },
    handleRemoveCrossTableRow(outerIndex) {
      const num = this.tempValue.length;
      for (var i = 0; i < num; i++) {
        this.tempValue[i].children.splice(outerIndex, 1);
      }
      this.data.options.defaultValue = JSON.parse(
        JSON.stringify(this.tempValue)
      );
    },
    crossTableInputUpdateCol() {
      this.data.options.defaultValue = JSON.parse(
        JSON.stringify(this.tempValue)
      );
    },
    crossTableInputUpdateRow(outerIndex) {
      const num = this.tempValue.length;
      const name = this.tempValue[0].children[outerIndex].name;
      // console.log(name)
      for (var i = 0; i < num; i++) {
        Object.values(this.tempValue[i].children)[outerIndex].name = name;
        console.log(Object.values(this.tempValue[i].children)[outerIndex]);
      }
      this.data.options.defaultValue = JSON.parse(
        JSON.stringify(this.tempValue)
      );
    },
    crossTableMovedCol() {
      this.data.options.defaultValue = JSON.parse(
        JSON.stringify(this.tempValue)
      );
    },
    crossTableMovedRol() {
      // console.log(this.tempValue.length)
      const num = this.tempValue.length;
      const children = this.tempValue[0].children;
      console.log(children);

      for (var i = 0; i < num; i++) {
        // console.log(this.tempValue[i].children)
        this.tempValue[i].children = children;
      }
      this.data.options.defaultValue = JSON.parse(
        JSON.stringify(this.tempValue)
      );
    },
    generateRule() {
      this.data.rules = [];
      Object.keys(this.validator).forEach(key => {
        if (this.validator[key]) {
          this.data.rules.push(this.validator[key]);
        }
      });
    },
    handleSelectMuliple(value) {
      if (value) {
        if (this.data.options.defaultValue) {
          this.data.options.defaultValue = [this.data.options.defaultValue];
        } else {
          this.data.options.defaultValue = [];
        }
      } else {
        if (this.data.options.defaultValue.length > 0) {
          this.data.options.defaultValue = this.data.options.defaultValue[0];
        } else {
          this.data.options.defaultValue = "";
        }
      }
    },

    validateRequired(val) {
      if (val) {
        this.validator.required = {
          required: true,
          message: `${this.data.name}必須填寫`
        };
      } else {
        this.validator.required = null;
      }

      this.$nextTick(() => {
        this.generateRule();
      });
    },

    validateDataType(val) {
      if (!this.show) {
        return false;
      }

      if (val) {
        this.validator.type = {
          type: val,
          message: this.data.name + "格式不正確"
        };
      } else {
        this.validator.type = null;
      }

      this.generateRule();
    },
    valiatePattern(val) {
      if (!this.show) {
        return false;
      }

      if (val) {
        this.validator.pattern = {
          pattern: val,
          message: this.data.name + "格式不匹配"
        };
      } else {
        this.validator.pattern = null;
      }

      this.generateRule();
    },
    initClipboard() {
      const clipboard = new Clipboard("#copyBtn");
      clipboard.on("success", e => {
        this.$message({
          message: "複製成功！",
          type: "success"
        });
      });
      clipboard.on("error", e => {
        this.$message({
          message: "複製失敗，請手動複製",
          type: "error"
        });
      });
    }
  },
  watch: {
    // copy defaultValue again to void repeat data in different table component
    data: function(val) {
      if (val.options && val.type != "grid" && val.type != "divider") {
        this.tempValue = JSON.parse(
          JSON.stringify(this.data.options.defaultValue)
        );
        // this.$nextTick(() => {
        // })
      }
    },
    "data.options.isRange": function(val) {
      if (typeof val !== "undefined") {
        if (val) {
          this.data.options.defaultValue = null;
        } else {
          if (Object.keys(this.data.options).indexOf("defaultValue") >= 0)
            this.data.options.defaultValue = "";
        }
      }
    },
    "data.options.required": function(val) {
      this.validateRequired(val);
    },
    "data.options.dataType": function(val) {
      this.validateDataType(val);
    },
    "data.options.pattern": function(val) {
      this.valiatePattern(val);
    },
    "data.name": function(val) {
      if (this.data.options) {
        this.validateRequired(this.data.options.required);
        this.validateDataType(this.data.options.dataType);
        this.valiatePattern(this.data.options.pattern);
      }
    }
  }
};
</script>
